db.sqlite3
bomb/custom_settings/local_settings.py
*.egg-info
*.pot
*.py[co]
__pycache__
MANIFEST
docs/_build/
docs/locale/
tests/coverage_html/
tests/.coverage
build/
media/*
media/
*.DS_Store
node_modules
bower_components
.idea/
*.pid
*.log.*
*.log



static/dist/css/
static/dist/js/

scss/**/css/

.cache