{% load crispy_forms_tags staticfiles i18n %}

<form id="game-search" action="{% url 'game_app:game-search' %}">
    Resource Type: <input name="{{ form.resource_type.html_name }}" value="{{ form.resource_type.value }}" type="search"> <br/>
    Release Year From: <input name="{{ form.release_year_from.html_name }}" value="{{ form.release_year_from.value }}" type="search"> <br/>
    Release Year To: <input name="{{ form.release_year_to.html_name }}" value="{{ form.release_year_to.value }}" type="search">

    <button type="submit" name="page" value="1">{% trans 'Search' %}</button>
</form>

{% if form.cleaned_data and not form.errors %}
<div class="results">
    {% include 'game_app/game_result.html' %}
</div>
{% endif %}

<hr />
<a href="{% url 'game_app:home' %}">Back Home</a>
